
<div class="card m-3" *ngIf="enrollesDetails.length>0">
  <h5 class="card-header">List of Enrolles</h5>
  <div class="card-body">
    <table class="table">
      <thead>
      <th>Id</th>
      <th>Activation Status</th>
      <th>Name</th>
      <th>Date of Birth</th>
      <th>Actions</th>
      </thead>
      <tbody>
      <tr *ngFor="let enrolle of enrollesDetails; let i = index">
        <td>{{enrolle.id}}</td>
        <td>{{enrolle.active}}</td>
        <td>{{enrolle.name}}</td>
        <td>{{enrolle.dateOfBirth}}</td>
        <td>
          <div class="text-center">
            <button class="btn btn-primary mr-1" (click)="editEnrolle(enrolle,i)">Edit</button>
            <button class="btn btn-secondary" (click)="enrollerStatusChange(enrolle,i)">Active/In Active</button>
          </div>

        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>


<div class="card m-3" *ngIf="selectedEnrolle">
  <h5 class="card-header">Enrolles Details</h5>
  <div class="card-body">
    <form [formGroup]="enrolleeInfoForm" (ngSubmit)="updateEnroller()">
      <div class="form-row">
        <div class="form-group col">
          <label>Id</label>
          <input type="text" formControlName="id" disabled class="form-control"/>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col">
          <label>Name</label>
          <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required"> Name is required</div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label>Activation Status</label>
          <input type="checkbox" formContr
                 olName="status" class="form-control" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label>Date of Birth</label>
          {{selectedEnrolle.dateOfBirth}}
          <!-- <input type="date" formControlName="dob" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" />
          <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
              <div *ngIf="f.dob.errors.required">Date of Birth is required</div>
          </div> -->
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary mr-1">Update</button>
        <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
      </div>

    </form>
  </div>
</div>
